# Copyright (c) 2022 Koen Zandberg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config PACKAGE_SPHSS
    bool "Simple and Portable HSS signatures"
    depends on TEST_KCONFIG
